html {overflow-y: auto;}
.alignright {text-align: right}
.nowrap {white-space: nowrap;}

.overflowTableContainer {overflow-x: auto; padding: 1rem;}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}


#level {
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: #0c0f29;
}

section {padding: 10px !important;}

.playingHighlight {color: #1ed176;}

.playlist {overflow-y: auto; }
.list-song {cursor: pointer;}

.media+.media {padding-top:.2rem;margin-top:.2rem;}