<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="inc_head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Loon</title>

    <!--JQuery-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!--JQuery-->

    <!--spin.js-->
    <!--<script th:src="@{/js/spin.min.js}"></script>-->
    <!--spin.js-->

    <!--qTip2-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <!--qTip2-->

    <!--Bulma-->
    <!--<link rel="stylesheet" th:href="@{'https://unpkg.com/bulmaswatch/' + loonSystem.theme + '/bulmaswatch.min.css'}">-->
    <link rel="stylesheet" th:href="@{'https://unpkg.com/bulmaswatch/' + ${loonSystem.theme} + '/bulmaswatch.min.css'}">
    <!--Bulma-->

    <!--Font Awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <!--Font Awesome-->

    <link rel="shortcut icon" th:href="@{/images/puffin.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" media="screen" />
    <!--<script th:src="@{/js/util.js}"></script>-->
    <!--<script th:src="@{/js/ajaxUtil.js}"></script>-->
</head>
<body>

</body>
</html>