<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="inc_head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Loon</title>

    <link rel="stylesheet" th:href="@{'https://unpkg.com/bulmaswatch/' + ${loonSystem.theme} + '/bulmaswatch.min.css'}">

    <link rel="shortcut icon" th:href="@{/images/puffin.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" media="screen" />
</head>
<body>

</body>
</html>