<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Loon</title>
</head>

<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/register}" id="registerForm">

    <label for="username">Username: </label>
    <input type="text" id="username" name="username"/><br/>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password"/><br/>

    <label for="confirm">Confirm password: </label>
    <input type="password" id="confirm" name="confirm"/><br/>

    <label for="fullname">Full name: </label>
    <input type="text" id="fullname" name="fullname"/><br/>

    <input type="submit" value="Register"/>
</form>

</body>
</html>