@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: auto;
}

section {
  padding: 10px !important;
}

#level {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.columns {
  margin-bottom: 0 !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #777;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.panel-block {
  border: none;
  border-left: 6px solid white;
}
.panel-block:first-child {
  border-top: none;
}
.panel-block:hover {
  border-left-color: #3273dc;
}

.ReactVirtualized__List:focus {
  outline: none;
}

/* copied from MyHelmet */

.playingHighlight {
  color: #23d160;
}
.playingHighlight:focus {
  outline: 0;
}

.playlist {
  overflow-y: auto;
}

.media + .media {
  padding-top: 0.2rem;
  margin-top: 0.2rem;
}

.is-visible-important {
  visibility: visible !important;
}

.ReactVirtualized__List:focus {
  outline: none;
}

.panel-block:last-child {
  border-radius: 0;
}

/* Fix issue where the last track in a list would have its action-menu cut off */
.ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

/* THEMING */

.myLevel {
  color: #4a4a4a;
  background-color: #f4f4f4;
}
#left-column {
  background-color: #f4f4f4;
}

.dropdown a {
  color: #666;
}
.dropdown a:hover {
  color: #888;
}
.card a {
  color: #666;
}
.card a:hover {
  color: #888;
}
.myLevel a {
  color: #666;
}
.myLevel a:hover {
  color: #888;
}
.navbar {
  border: none;
}

.panel-block {
  border: none;
  border-left: 6px solid #f4f4f4;
}
.panel-block:first-child {
  border-top: none;
}
.panel-block:hover {
  border-left-color: #3273dc;
}

@media (prefers-color-scheme: dark) {
  .myLevel {
    background-color: #282f2f;
    color: #ddd;
  }
  #left-column {
    background-color: #282f2f;
  }
  .panel-block {
    border-left-color: #282f2f;
  }
  #headerLogo {
    filter: invert(100%);
  }

  .dropdown a {
    color: #aaa;
  }
  .dropdown a:hover {
    color: #ccc;
  }
  .card a {
    color: #aaa;
  }
  .card a:hover {
    color: #ccc;
  }
  .myLevel a {
    color: #aaa;
  }
  .myLevel a:hover {
    color: #ccc;
  }

  .panel-block {
    border: none;
    border-left: 6px solid #282f2f;
  }
  .panel-block:first-child {
    border-top: none;
  }
  .panel-block:hover {
    border-left-color: #3273dc;
  }

  .input {
    color: #eee;
    background-color: #333;
  }
  .select select {
    color: #eee;
    background-color: #333;
  }

  /* checkbox tree */
  .rct-node-icon {
    color: #23d160 !important;
  }

  /* problematic with bulma-prefers-dark */
  .panel-icon {
    color: white;
  }
  .panel-block:not(:last-child),
  .panel-tabs:not(:last-child) {
    border-bottom: none !important;
  }
}
