html {overflow-y: auto;}

#level {
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {padding: 10px !important;}

.playingHighlight {color: #23d160;}
.playingHighlight:focus {outline:0;}

.playlist {overflow-y: auto; }

.media+.media {padding-top:.2rem;margin-top:.2rem;}

.mediaItemDiv {padding: 5px; vertical-align: middle; display: flex; flex-direction: row; justify-content: space-between;
    transition: all .2s ease}

.mediaItemDiv       .mediaItemEllipsis .dropdown{visibility: hidden;}
.mediaItemDiv:hover .mediaItemEllipsis .dropdown{visibility: visible;}
.is-visible-important {visibility: visible !important;}

.list-song {flex: 8}
.mediaItemCounter {text-align: right; margin-right: 5px; min-width: 30px; flex-basis: 36px;}

.panel-block {border: none; border-left: 6px solid white;}
.panel-block:first-child {border-top: none;}
.panel-block:hover {border-left-color: #3273dc;}

.ReactVirtualized__List:focus{
    outline: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track-piece:start {
    background: transparent url('../images/scrollbar.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent url('../images/scrollbar.png') repeat-y !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}