html {overflow-y: auto;}
.alignright {text-align: right}
.nowrap {white-space: nowrap;}

.overflowTableContainer {overflow-x: auto; padding: 1rem;}

#level {
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {padding: 10px !important;}

.playingHighlight {color: #1ed176;}

.playlist {overflow-y: auto; }
.list-song {cursor: pointer;}

.media+.media {padding-top:.2rem;margin-top:.2rem;}